@model NhanVien
@{
  ViewData["Title"] = "Chi tiết";
  var nhanVien = ViewData["nhanVien"] as NhanVien;
  @* var lstBoPhan = ViewData["lstBoPhan"] as List<BoPhan>;
  var lstTrangThai = ViewData["lstTrangThai"] as List<TrangThaiNhanVien>;
  var lstChucVu = ViewData["lstChucVu"] as List<ChucVu>; *@
}


@* ************** Content ************** *@
<!-- Basic Layout -->
<div class="row">
  <div class="col-xl">
    <div class="card mb-4">
      <div class="card-body">
        <form asp-action="Edit" asp-route-id="@Model.MaNhanVien">
          <div class="mb-3">
            <label class="form-label" for="basic-icon-default-fullname">Họ và tên</label>
            <input type="hidden" asp-for="MaNhanVien" />
            <div class="input-group input-group-merge">
              <input type="text" class="form-control" id="fullname"
                aria-label="John Doe" aria-describedby="basic-icon-default-fullname2" asp-for="TenNhanVien"/>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="basic-icon-default-company">Chức vụ</label>
            <div class="input-group input-group-merge">
              <select class="form-select" id="chucVu" asp-for="IdChucVu" asp-items="@(ViewData["lstChucVu"] as SelectList)">
                <option value="">-- Chọn chức vụ --</option>
              </select>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="basic-icon-default-company">Bộ phận</label>
            <div class="input-group input-group-merge">
                <select class="form-select" id="boPhan" asp-for="IdboPhan" asp-items="@(ViewData["lstBoPhan"] as SelectList)">
                  <option value="">-- Chọn bộ phận --</option>
                </select>
              </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="basic-icon-default-company">Trạng thái</label>
            <div class="input-group input-group-merge">
              <select class="form-select" id="trangThai" asp-for="IdtrangThai" asp-items="@(ViewData["lstTrangThai"] as SelectList)">
                <option value="">-- Chọn trạng thái --</option>
              </select>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="basic-icon-default-email">Email</label>
            <div class="input-group input-group-merge">
              <input type="text" id="email" class="form-control"
                aria-label="john.doe" aria-describedby="basic-icon-default-email2" asp-for="Email"/>
            </div>
            <div class="form-text"> You can use letters, numbers & periods </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="basic-icon-default-phone">Số điện thoại</label>
            <div class="input-group input-group-merge">
              <input type="text" id="phone" class="form-control"
              aria-label="658 799 8941" aria-describedby="basic-icon-default-phone2" asp-for="Phone"/>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="basic-icon-default-message">CCCD/CMND</label>
            <div class="input-group input-group-merge">
              <input type="text" id="cccd" class="form-control phone-mask"
              aria-label="658 799 8941" aria-describedby="basic-icon-default-phone2" asp-for="Cccd"/>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="basic-icon-default-message">Địa chỉ</label>
            <div class="input-group input-group-merge">
              <input type="text" id="address" class="form-control phone-mask"
              aria-label="658 799 8941" aria-describedby="basic-icon-default-phone2" asp-for="Address"/>
            </div>
          </div>
          <button id="saveBtn" type="submit" class="btn btn-primary">Save</button>
          <button id="saveBtn" type="submit" asp-action="Index" class="btn btn-primary">Back</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById("saveBtn").addEventListener("click", function(event) {
      console.log($("#fullname").val());
      console.log($("#chucVu").val());
      console.log($("#boPhan").val());
      console.log($("#trangThai").val());
      console.log($("#email").val());
      console.log($("#phone").val());
      console.log($("#cccd").val());
      console.log($("#address").val());
    });
</script>
