@model PhuongTien
@{
  ViewData["Title"] = "Thêm mới";
  @* var lstBoPhan = ViewData["lstBoPhan"] as List<BoPhan>;
  var lstTrangThai = ViewData["lstTrangThai"] as List<TrangThaiNhanVien>;
  var lstChucVu = ViewData["lstChucVu"] as List<ChucVu>; *@
}


@* ************** Content ************** *@
<!-- Basic Layout -->
<div class="row">
  <div class="col-xl">
    <div class="card mb-4">
      <h5 class="card-header">Tạo mới phương tiện</h5>
      <div class="card-body">
        <form asp-action="Create">
          <div class="mb-3">
            <label class="form-label" for="basic-icon-default-fullname">Tên phương tiện</label>
            <div class="input-group input-group-merge">
              <input type="text" class="form-control" id="fullname"
                aria-label="John Doe" aria-describedby="basic-icon-default-fullname2" asp-for="TenPhuongTien"/>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="basic-icon-default-company">Loại phương tiện</label>
            <div class="input-group input-group-merge">
              <select class="form-select" id="chucVu" asp-for="IdloaiPhuongTien" asp-items="@(ViewData["lstLoaiPhuongTien"] as SelectList)">
                <option value="">-- Chọn loại phương tiện --</option>
              </select>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="basic-icon-default-company">Trạng thái</label>
            <div class="input-group input-group-merge">
                <select class="form-select" id="boPhan" asp-for="IdtrangThai" asp-items="@(ViewData["lstTrangThai"] as SelectList)">
                  <option value="">-- Chọn trạng thái --</option>
                </select>
              </div>
          </div>
          <button id="saveBtn" type="submit" class="btn btn-primary">Save</button>
          <button id="saveBtn" type="submit" asp-action="Index" class="btn btn-primary">Back</button>
        </form>
      </div>
    </div>
  </div>
</div>
