@{
  TempData.Keep();
  string? currentPage = ViewContext.HttpContext.Request.Path;
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

  @* ! Hide app brand if navbar-full *@
  <div
    class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
    <a asp-controller="Dashboards" asp-action="Index" class="app-brand-link">
      <span class="app-brand-logo demo">
        @await Html.PartialAsync("../_Partials/_Macros")
      </span>
      <span class="app-brand-text demo menu-text fw-bold ms-2">@TempData.Peek("appName")</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  @* ! Full version menu-items *@
  <ul class="menu-inner py-1">
    <!-- Dashboards -->
    <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/Dashboards/") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div>Dashboards</div>
        <div class="badge bg-danger rounded-pill ms-auto">5</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Dashboards/CRM" ? " active" : "")'>
          <a href="https://demos.themeselection.com/sneat-aspnet-core-mvc-admin-template/html/vertical-menu-template/dashboards-crm.html" target="_blank" class="menu-link">
            <div>CRM</div><div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/" ? " active" : "")'>
          <a asp-controller="Dashboards" asp-action="Index" class="menu-link">
            <div>Analytics</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ecommerce/Dashboard" ? " active" : "")'>
          <a href="https://demos.themeselection.com/sneat-aspnet-core-mvc-admin-template/html/vertical-menu-template/app-ecommerce-dashboard.html" target="_blank" class="menu-link">
            <div>eCommerce</div><div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Logistics/Dashboard" ? " active" : "")'>
          <a href="https://demos.themeselection.com/sneat-aspnet-core-mvc-admin-template/html/vertical-menu-template/app-logistics-dashboard.html" target="_blank" class="menu-link">
            <div>Logistics</div><div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Academy/Dashboard" ? " active" : "")'>
          <a href="https://demos.themeselection.com/sneat-aspnet-core-mvc-admin-template/html/vertical-menu-template/app-academy-dashboard.html" target="_blank" class="menu-link">
            <div>Academy</div><div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Nhân viên -->
    <li class='menu-item@(currentPage.StartsWith("/NhanVien") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-layout"></i>
        <div>Nhân viên</div>
      </a>

      <ul class="menu-sub">

        <li class='menu-item@(currentPage == "/NhanVien/Index" ? " active" : "")'>
          <a asp-controller="NhanVien" asp-action="Index" class="menu-link">
            <div>Danh sách nhân viên</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/ChucVu/Index" ? " active" : "")'>
          <a asp-controller="ChucVu" asp-action="Index" class="menu-link">
            <div>Danh sách chức vụ</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/BoPhan/Index" ? " active" : "")'>
          <a asp-controller="BoPhan" asp-action="Index" class="menu-link">
            <div>Danh sách bộ phận</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/TrangThaiNhanVien/Index" ? " active" : "")'>
          <a asp-controller="TrangThaiNhanVien" asp-action="Index" class="menu-link">
            <div>Danh sách trạng thái nhân viên</div>
          </a>
        </li>
      </ul>
    </li>


    <!-- Trái cây -->
    <li class='menu-item@(currentPage.StartsWith("/TraiCay") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-layout"></i>
        <div>Trái cây</div>
      </a>

      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/TraiCay/Index" ? " active" : "")'>
          <a asp-controller="TraiCay" asp-action="Index" class="menu-link">
            <div>Danh sách trái cây</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/LoaiTraiCay/Index" ? " active" : "")'>
          <a asp-controller="LoaiTraiCay" asp-action="Index" class="menu-link">
            <div>Danh sách loại trái cây</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/DonViTinh/Index" ? " active" : "")'>
          <a asp-controller="DonViTinh" asp-action="Index" class="menu-link">
            <div>Danh sách đơn vị tính</div>
          </a>
        </li>
      </ul>
    </li>


    <!-- Đối tác -->
    <li class='menu-item@(currentPage.StartsWith("/NhaCungCap") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-layout"></i>
        <div>Đối tác</div>
      </a>

      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/NhaCungCap/Index" ? " active" : "")'>
          <a asp-controller="NhaCungCap" asp-action="Index" class="menu-link">
            <div>Danh sách nhà cung cấp</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/DoanhNghiep/Index" ? " active" : "")'>
          <a asp-controller="DoanhNghiep" asp-action="Index" class="menu-link">
            <div>Danh sách doanh nghiệp</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/QuocGia/Index" ? " active" : "")'>
          <a asp-controller="QuocGia" asp-action="Index" class="menu-link">
            <div>Danh sách quốc gia</div>
          </a>
        </li>
      </ul>
    </li>


    <!-- Phương tiện -->
    <li class='menu-item@(currentPage.StartsWith("/PhuongTien") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-layout"></i>
        <div>Phương tiện</div>
      </a>

      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/PhuongTien/Index" ? " active" : "")'>
          <a asp-controller="PhuongTien" asp-action="Index" class="menu-link">
            <div>Danh sách phương tiện</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/LoaiPhuongTien/Index" ? " active" : "")'>
          <a asp-controller="LoaiPhuongTien" asp-action="Index" class="menu-link">
            <div>Danh sách loại phương tiện</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/TrangThaiPhuongTien/Index" ? " active" : "")'>
          <a asp-controller="TrangThaiPhuongTien" asp-action="Index" class="menu-link">
            <div>Danh sách trạng thái phương tiện</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Kho -->
    <li class='menu-item@(currentPage.StartsWith("/Kho") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-layout"></i>
        <div>Kho</div>
      </a>

      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Kho/Index" ? " active" : "")'>
          <a asp-controller="Kho" asp-action="Index" class="menu-link">
            <div>Danh sách kho</div>
          </a>
        </li>
      </ul>
    </li>


    <!-- Hợp đồng -->
    <li class='menu-item@(currentPage.StartsWith("/HopDong") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-layout"></i>
        <div>Hợp đồng</div>
      </a>

      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/HopDong/Index" ? " active" : "")'>
          <a asp-controller="HopDong" asp-action="Index" class="menu-link">
            <div>Danh sách hợp đồng</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/LoaiHopDong/Index" ? " active" : "")'>
          <a asp-controller="LoaiHopDong" asp-action="Index" class="menu-link">
            <div>Danh sách loại hợp đồng</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/TrangThaiHopDong/Index" ? " active" : "")'>
          <a asp-controller="TrangThaiHopDong" asp-action="Index" class="menu-link">
            <div>Danh sách trạng thái hợp đồng</div>
          </a>
        </li>
      </ul>
    </li>

  </ul>

</aside>
<!-- / Menu -->
